*.swp

*.lo
*.la
*.o

.deps
.libs

# autoconf automake
Makefile
Makefile.in
aclocal.m4
ltmain.sh
libtool
missing
config.m4
autom4te.cache
depcomp
install-sh
stamp-h1
wrapper.sh
ylwrap
config.guess
config.log
config.status
config.sub
configure

search/search.html
search/ie6.html

# binaries
kbs_bbs/daemon/bbslogd
kbs_bbs/daemon/cached
kbs_bbs/daemon/chatd
kbs_bbs/daemon/indexd
kbs_bbs/daemon/miscd
kbs_bbs/daemon/newpop3d
kbs_bbs/daemon/notifyd
kbs_bbs/daemon/postlogd
kbs_bbs/default.h
kbs_bbs/kbs_config.h
kbs_bbs/kbs_config.h.in
kbs_bbs/libBBS/default.c
kbs_bbs/libBBS/site.c
kbs_bbs/local_utl/Bhtml
kbs_bbs/local_utl/Xhtml
kbs_bbs/local_utl/alluserlog
kbs_bbs/local_utl/autoclear
kbs_bbs/local_utl/autoundeny
kbs_bbs/local_utl/blogstat
kbs_bbs/local_utl/bm_notice
kbs_bbs/local_utl/bmerge
kbs_bbs/local_utl/board_resetcurrentuser
kbs_bbs/local_utl/bonlinelog
kbs_bbs/local_utl/bootstrap
kbs_bbs/local_utl/dailyrank
kbs_bbs/local_utl/dayuserlog
kbs_bbs/local_utl/dump_user_title
kbs_bbs/local_utl/fhedit
kbs_bbs/local_utl/find_rm_lost
kbs_bbs/local_utl/fix_nowid
kbs_bbs/local_utl/fix_sysop
kbs_bbs/local_utl/fixdir
kbs_bbs/local_utl/gen_title
kbs_bbs/local_utl/genbplot
kbs_bbs/local_utl/genhot
kbs_bbs/local_utl/gennewboard
kbs_bbs/local_utl/get_user_rank
kbs_bbs/local_utl/idx0Ann
kbs_bbs/local_utl/lazybm
kbs_bbs/local_utl/life_value_stat
kbs_bbs/local_utl/listMODE
kbs_bbs/local_utl/listonline
kbs_bbs/local_utl/mailbirth
kbs_bbs/local_utl/mails
kbs_bbs/local_utl/mvarticles
kbs_bbs/local_utl/newpoststat
kbs_bbs/local_utl/onlinestat
kbs_bbs/local_utl/outdaybm
kbs_bbs/local_utl/post_brdlog
kbs_bbs/local_utl/post_buse
kbs_bbs/local_utl/postfilealt
kbs_bbs/local_utl/poststat
kbs_bbs/local_utl/process_invalid_mail
kbs_bbs/local_utl/realinfo
kbs_bbs/local_utl/rebuild_digest
kbs_bbs/local_utl/recover_user
kbs_bbs/local_utl/refresh_fileheader
kbs_bbs/local_utl/refresh_reply
kbs_bbs/local_utl/sbbs_static
kbs_bbs/local_utl/scanIP
kbs_bbs/local_utl/scanMODE
kbs_bbs/local_utl/scored
kbs_bbs/local_utl/setuserstay
kbs_bbs/local_utl/showBM
kbs_bbs/local_utl/showipdeny
kbs_bbs/local_utl/statBM
kbs_bbs/local_utl/statguy
kbs_bbs/local_utl/static
kbs_bbs/local_utl/sync_mailsize
kbs_bbs/local_utl/sync_real_user
kbs_bbs/local_utl/ulevel
kbs_bbs/local_utl/ultimate_search
kbs_bbs/local_utl/uonlinelog
kbs_bbs/local_utl/usage
kbs_bbs/local_utl/userexist
kbs_bbs/local_utl/utmpcheck
kbs_bbs/mail2bbs/mail2bbs
kbs_bbs/mail2bbs/qmail2bbs
kbs_bbs/service/personaldns/nsupdated
kbs_bbs/site.h
kbs_bbs/src/bbsd
kbs_bbs/sshbbsd/kbs_ssh_config.h
kbs_bbs/sshbbsd/kbs_ssh_config.h.in
kbs_bbs/sshbbsd/sshbbsd
